<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="content">
          <!--pinterest logo-->
          <img src="" />
          <p class="header">Log in to see more</p>
          <form action="/login" method="post">
            <input name="username" type="text" placeholder="username" class="detail" />
            <input name="password" type="password" placeholder="Password" class="detail" />
            <h4>Forgot your password?</h4>
    
            <input type="submit" class="btn int" value="Register"></input>
          </form>
          <h4>Forgot your password?</h4>
  
          
        
          <footer>
            <p>
              By continuing, you agree to 
              <b>Terms of Service, Privacy policy.</b>
            </p>
            <hr />
            <a href="/">not registered yet? Register</a>
          </footer>
        </div>
      </div>
     
</body>
</html>
